@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import "~react-image-gallery/styles/scss/image-gallery.scss";
* {
    font-family: "Prompt", sans-serif !important;
}

.homepage {
    flex-grow: 1;
    .MuiCardContent-root {
        background-color: #fff;
        border-radius: 10px;
        cursor: pointer;
        padding: 30px;
        .TextHeader {
            text-align: center;
            font-weight: bold;
            color: green;
        }
        .img-box {
            text-align: center;
            margin-bottom: 10px;
            .img-icon {
                width: 60px;
            }
        }
    }
    
    iframe{
        width: -webkit-fill-available;
        min-height: 300px;
    }
}
